<div class="container mt-4">
    <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
            <h1 class="u-text-1">
                Learn Cooking Online
            </h1>
            <p>
                Sample text. Click to select the text box. Click again or double click to start editing the text.
            </p>
        </div>
        <div class=" col-12 col-md-4 text-center text-md-end mb-3 mb-md-0">
            <img class="img-u" src="/assets/natural foods/pexels-photo-3872373.jpeg" alt="">
        </div>
        <div class="col-md-4 col-12 text-center mb-3 mb-md-0">
            <img class="img-u" src="/assets/natural foods/pexels-photo-1640777.jpeg" alt="">
        </div>
        <div class="col-md-4 col-12 text-center text-md-start">
            <img class="img-u" src="/assets/natural foods/pexels-photo-1351238.jpeg" alt="">
        </div>
        <div class=" col-12 text-center">
            <button class="btn btn-block rounded-pill border-0 read-more--btn my-5 ">READ MORE</button>
        </div>
    </div>
</div>

<div class="orange-img">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="header">
                    Our Ice Cream
                </h1>
                <p class="my-5 desc">
                    Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Tempus urna et pharetra pharetra massa massa ultricies mi quis. Ut faucibus pulvinar elementum <a href="#" class="desc">integer</a> enim neque volutpat. Augue mauris
                    augue neque gravida in.
                </p>
                <p class="desc">
                    Image from FreePik
                </p>

                <div class="text-md-start text-center">
                    <button class="btn btn-block rounded-pill border-0 read-more--btn mb-3 ">READ MORE</button>
                </div>

            </div>
            <div class="col-md-6 col-12">
                <div class="green-circle">
                    <img class="mw-100 border-circle pineable-img" src="../../assets/natural foods/45min.jpg" alt="">
                </div>

            </div>

        </div>

    </div>
</div>
