<!-- <div class="container">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active d-flex justify-content-center align-items-center">
                <img class="d-block mw-100 w-50" src="../../assets/natural foods/pexels-photo-1351238.jpeg" alt="First slide">
            </div>

            <div class="carousel-item d-flex justify-content-center align-items-center">
                <img class="d-block mw-100 w-50 " src="../../assets/natural foods/pexels-photo-1640777.jpeg" alt="Second slide">
            </div>


            <div class="carousel-item d-flex justify-content-center align-items-center">
                <img class="d-block mw-100 w-50 " src="../../assets/natural foods/pexels-photo-4193838.jpeg" alt="Third slide">
            </div>

        </div>
        <a class="" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carsoul-btn"> < </span>

        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class=" carsoul-btn"> > </span>

        </a>
    </div>


</div> -->


<div class="orange-img">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="header">
                    Our Ice Cream
                </h1>
                <p class="my-5 desc">
                    Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Tempus urna et pharetra pharetra massa massa ultricies mi quis. Ut faucibus pulvinar elementum <a href="#" class="desc">integer</a> enim neque volutpat. Augue mauris
                    augue neque gravida in.
                </p>
                <p class="desc">
                    Image from FreePik
                </p>

                <div class="text-md-start text-center">
                    <button class="btn btn-block rounded-pill border-0 read-more--btn mb-3 ">READ MORE</button>
                </div>

            </div>
            <div class="col-md-6 col-12">
                <!-- <div class="green-circle">
                    <img class="mw-100 border-circle pineable-img" src="../../assets/natural foods/45min.jpg" alt="">
                </div> -->

            </div>

        </div>

    </div>
</div>
