<div class="mashroum-img">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column">
                <img class="w-50 mw-100" src="../../assets/natural foods/33510142.png" alt="">
                <div class="green-circle">
                    <h2 class="label">30% off</h2>
                </div>
                <div class="my-5">
                    <h6 class="fw-bold" style="font-size: 24px;">HEALTHY FOOD</h6>
                    <p class="desc">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>

                </div>
                <p class="u-text-3">Image from <a href="#" class="text-decoration-none link">Freepik</a></p>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="salad-background">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="u-text-1 text-center">100% Organic <br> Goods</h2>
                    <p class="u-text-2 my-4 text-center">Where we do things differently. 100% organic smoothies and cold pressed juices is our thing.</p>
                    <p class="u-text-3">Image from <a href="" class="text-decoration-none link">FreePik</a></p>

                </div>
                <div class="col-12 col-md-4 offset-md-4 d-flex justify-content-center align-items-center">
                    <button class="my-5 p-3 btn btn-block border-0 rounded-pill read-more--btn w-100">READ MORE</button>
                </div>
            </div>
        </div>

    </div>
</section>


<section>
    <div class="u-palette-3-base">
        <div class="container">
            <div class="row d-flex flex-column justify-content-center align-items-center">
                <div class="col-12">
                    <h2 class="u-text-1 u-text-body-color text-center">
                        Subscribe And<br> Follow Us
                    </h2>
                    <p class="u-text-body-color mt-4 mb-3 text-center u-text-3">
                        Be part of the story and follow us on Twitter via @name and subscribe to the <br> newsletter for news and updates about our workshops
                    </p>
                </div>
                <div class="col-md-6 col-12">
                    <div class="input-group mb-3" style="height: 49px;">
                        <input type="text" class="form-control rounded-pill input-border bg-transparent" placeholder="Email" aria-label="Email" aria-describedby="button-addon1">
                    </div>
                    <button class=" mb-5 p-2 rounded-pill read-more--btn btn btn-block border-0 w-100 mw-100 ">SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="u-black-80 d-flex justify-content-center align-items-center" style="height: 200px;">
    <div class="row mw-100">
        <div class="col-12">
            <p class="u-text-body-color mt-4 mb-3 text-center u-text-3">
                Sample text. Click to select the text box. Click again or double click to start editing the text.
            </p>
        </div>
    </div>
</footer>
