<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class=" row d-flex justify-content-center align-items-start my-3">
                <div class="col-md-6 col-12 d-flex justify-content-md-end">
                    <img class="salad-img" src="../../assets/natural foods/1.png" alt="">
                </div>
                <div class="col-md-6 col-12">
                    <div class="salad-title">
                        Caesar salad
                    </div>
                    <div class="salad-price my-3">
                        $20
                    </div>
                    <div class="salad-desc">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row d-flex align-items-start my-3">
                <div class="col-md-6 col-12 d-flex justify-content-end">
                    <img class="salad-img" src="../../assets/natural foods/2.png" alt="">
                </div>
                <div class="col-md-6 col-12 d-flex flex-column">
                    <div class="salad-title">
                        Classic Ricotta
                    </div>
                    <div class="salad-price my-3">
                        $45
                    </div>
                    <div class="salad-desc">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row my-5">
        <div class="col-md-6">
            <div class="row d-flex align-items-start mb-3">
                <div class="col-md-6 col-12 d-flex justify-content-end">
                    <img class="salad-img" src="../../assets/natural foods/3.png" alt="">
                </div>
                <div class=" col-md-6 col-12 d-flex flex-column">
                    <div class="salad-title">
                        Mexican salad
                    </div>
                    <div class="salad-price">
                        $13
                    </div>
                    <div class="salad-desc">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 ">
            <div class=" row d-flex align-items-start mt-3">
                <div class="col-md-6 col-12 d-flex justify-content-end">
                    <img class="salad-img" src="../../assets/natural foods/4.png" alt="">
                </div>
                <div class="col-md-6 col-12 d-flex flex-column">
                    <div class="salad-title">
                        Classic Ricotta
                    </div>
                    <div class="salad-price">
                        $24
                    </div>

                    <div class="salad-desc">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="orange-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 d-flex flex-column justify-content-center">
                <h1 class=" panel-header">
                    Healthy Evening
                </h1>
                <p class="panel-desc my-5">
                    Duis ultricies lacus sed turpis tincidunt id aliquet risus. Bibendum est ultricies integer quis auctor. Id eu nisl nunc mi. Eget nunc scelerisque in aliquam. Malesuada proin libero nunc consequat interdum.
                </p>
                <div class="col-12 col-md-6 mb-3 mb-md-5 text-md-start text-center">
                    <button class="btn btn-block rounded-pill read-more--btn">READ MORE</button>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="u-background-2 mb-md-0 mb-2">

                </div>
            </div>

        </div>

    </div>

</div>
