.header-img {
    background-image: url('/assets/natural foods/orange.jpeg');
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 70.87%;
}

.header {
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.desc {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}

.read-more--btn {
    letter-spacing: 1px;
    text-shadow: 0 0 0 rgb(0 0 0 / 0%);
    font-size: 1.125rem;
    font-weight: 700;
    padding: 12px 84px 12px 83px;
    background-color: #12c757;
    color: #ffffff
}

.view-all--btn {
    border-style: solid;
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    padding: 12px 68px 12px 68px;
    color: #425465
}

@media screen and (min-width:980px) {
    .desc {
        width: 60%;
    }
}

@media screen and (max-width:480px) {}

@media screen and (min-width:768px) {
    .header-img {
        height: 550px;
    }
    .h1-text-u {
        margin-top: 10%
    }
}
