<div class="header-img">
    <div class="container">
        <div class="row">
            <div class="col-12 h1-text-u" style="text-align: center;">
                <h1 class="header" style=" font-size: 5.5rem;">
                    Natural Food
                </h1>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="desc">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>



        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-12 text-md-end text-center">
                <button class="btn btn-block  rounded-pill read-more--btn">READ MORE</button>

            </div>
            <div class="col-md-6 col-12 text-center text-md-start mb-3">
                <button class="btn btn-light btn-block mt-3 mt-md-0 rounded-pill view-all--btn"> VIEW ALL RECIPES</button>

            </div>

        </div>
    </div>
</div>
<section>
    <app-salads></app-salads>
</section>

<section>
    <app-carousel></app-carousel>
</section>

<section>
    <app-fresh-food></app-fresh-food>
</section>
